<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      О себе
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">О себе</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Информация</ion-card-subtitle>
      <ion-card-title>Искандер Хисамов</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Татарский разработчик со стеком: React, Angular, Vue.
    </ion-card-content>
  </ion-card>
</ion-content>
