<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Изменить профиль</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="changeProfile(form)" method="post" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Имя</ion-label>
      <ion-input name="name" type="text" ngModel required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Фамилия</ion-label>
      <ion-input name="surname" type="text" ngModel required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Дата рождения</ion-label>
      <ion-input name="birthday" type="text" ngModel required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Номер телефона</ion-label>
      <ion-input name="phone" type="tel" ngModel required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Ссылка на страницу ВК</ion-label>
      <ion-input name="vk" type="url" ngModel required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Ник в Skype</ion-label>
      <ion-input name="skype" type="text" ngModel required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Сохранить</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
